/* =========================
BODY
========================= */
body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

/* =========================
TOPO
========================= */
.topo {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: rgb(89, 89, 223);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.topo p {
    margin: 0;
    font-size: 3rem;
    margin-left: 20px;
    color: aliceblue;
    font-weight: bold;
}

/* =========================
BOTÃO INÍCIO
========================= */

.botao-inicio {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: rgb(89, 89, 223);

    border-radius: 14px;

    text-decoration: none;
    font-size: 26px;

    box-shadow: 0 5px 12px rgba(0,0,0,0.18);

    transition: 0.3s;
}

.botao-inicio:hover {
    transform: translateY(-50%) scale(1.08);
    box-shadow: 0 7px 15px rgba(0,0,0,0.25);
}

/* =========================
CONTAINER
========================= */
.container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* =========================
BOTÕES
========================= */
button {
    background-color: rgb(89, 89, 223);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: rgb(67, 67, 190);
    transform: scale(1.03);
}

/* =========================
RESULTADOS
========================= */
h3 {
    margin-top: 20px;
    color: rgb(89, 89, 223);
}

#resultadoNota {
    font-size: 20px;
    font-weight: bold;
    color: rgb(89, 89, 223);
    margin-top: 10px;
}

.nota-detalhada {
    margin-top: 15px;
    padding: 15px;
    background: #eef2ff;
    border-radius: 12px;
}

.nota-detalhada p {
    margin: 5px 0;
    font-weight: bold;
    color: #444;
}