/* =========================
BODY
========================= */
body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

/* =========================
TOPO
========================= */
.topo {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: rgb(89, 89, 223);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.topo p {
    margin: 0;
    font-size: 3rem;
    margin-left: 20px;
    color: aliceblue;
    font-weight: bold;
}

/* =========================
BOTÃO INÍCIO
========================= */

.botao-inicio {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: rgb(89, 89, 223);

    border-radius: 14px;

    text-decoration: none;
    font-size: 26px;

    box-shadow: 0 5px 12px rgba(0,0,0,0.18);

    transition: 0.3s;
}

.botao-inicio:hover {
    transform: translateY(-50%) scale(1.08);
    box-shadow: 0 7px 15px rgba(0,0,0,0.25);
}

/* =========================
CONTAINER
========================= */

.container {
    max-width: 850px;
    margin: 40px auto;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

button {
    padding: 12px 25px;
    background: #8e2de2;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background: #4a00e0;
}

.resultado h3 {
    margin-top: 20px;
    color: #333;
}

#textoExtraido, #resultadoNota, #detalhesNota {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-top: 10px;
    line-height: 1.5;
}

