@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
}

h1{
    display: flex;
    justify-content: center;
    color: blue;
}

p{
    display: flex;
    justify-content: center;
    color: black;
}